/public
resources/
node_modules/
package-lock.json
.hugo_build.lock

# For Visual Studio projects
*.suo
*.user
*.userosscache
*.sln.docstates
[Oo]utput/
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/