<script src="https://giscus.app/client.js"
        data-repo="huanlin/huanlin.github.io"
        data-repo-id="MDEwOlJlcG9zaXRvcnkyNDA1ODA0Ng=="
        data-category="Announcements"
        data-category-id="DIC_kwDOAW8Yvs4CdXr4"
        data-mapping="title"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="preferred_color_scheme"
        data-lang="zh-TW"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>