.md-typeset h1 {
    color: var(--md-default-fg-color);
}

.md-typeset h1, .md-typeset h2, .md-typeset h3  {
    font-weight: 600;
}

.md-nav__title {
    color: var(--md-default-fg-color);
}

.md-typeset .admonition, .md-typeset details {
    font-size: .85rem;
}

.md-grid {
    max-width: 90%;
}

:root > * {
    --md-primary-fg-color: #16191F;
    --md-primart-fg-color-light: #16191F;
    --md-primart-fg-color-dark: #16191F;
    --md-typeset-a-color: #0073BB;
   
}